<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553720620600-4njbbhf7fjj4knelpsckalc3bpsmlpk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553720620600-4njbbhf7fjj4knelpsckalc3bpsmlpk7</string>
	<key>API_KEY</key>
	<string>AIzaSyCvatvnJHFFeGICAjqbcN9c8dcEH8ORuqo</string>
	<key>GCM_SENDER_ID</key>
	<string>553720620600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFlavormula</string>
	<key>PROJECT_ID</key>
	<string>flavormula-92dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>flavormula-92dd8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553720620600:ios:cc380ee750389f505be8cd</string>
</dict>
</plist>
